html  {
	background: url("/unit_3/images/desktop_mint.jpg") no-repeat;
	background-size: cover;
}

body {
	font-family: Helvetica;
	text-align: left;
	color:#fff;
}

h1 {
	color:#7ebeb4;}

p {
	color:#EDEDED;
}

#slogan {
	font-style:italic;
}
