html  {
	background: url("/unit_3/images/desktop_mint.jpg") no-repeat;
	background-size: cover;
}

header {
    height: 60vh;
    position: relative;
    top: 50%;
}

h1 {
	color:#fff;
}

body {
	font-family: georgia;
	text-align: left;
	color:#4a4a4a;
}

a:link{
	color:#6b556c;
}

a:hover{
	color:#aee1de;
}

p {
	color:#4a4a4a;
}

#slogan {
	font-style:italic;
	color:#fff;
}

#contact {
	font-size:11px;
}