html  {
	background: url("/unit_3/images/desktop_mint.jpg") no-repeat;
	background-size: cover;
}

body {
	font-family: georgia;
	text-align: left;
	color:#4a4a4a;
}

a{
	color:#6b556c;
}

h1 {
	color:#fff;}

p {
	color:#4a4a4a;
}

#slogan {
	font-style:italic;
}
